[SddmGreeterTheme]
Name=Silvery-SDDM
Description=Silvery-SDDM Login Screen
Type=sddm-theme
Author=l4k1
Screenshot=preview.png
License=GPLv3
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=Silvery-SDDM
Theme-API=2.0
Website=https://github.com/L4ki/Silvery-Plasma-Themes

